<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/styles.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://kit.fontawesome.com/b2a572fab6.js" crossorigin="anonymous"></script>
  <title>Home</title>
</head>

<body>

  <div class="slider" id="slider">
    <div class="content">
      <!-- Contenido del slide -->
      <div class="title-text">
        <p class="aco">ACO</p>
        <p class="projects">Proyectos</p>
      </div>
      <p class="slider-text">Por favor, deslice hacia arriba para iniciar</p>
    </div>
  </div>

  <div class="login">

    <form class="loginAdmin" action="getUsuario.php" method="POST">
      <div class="container">
        <h2>Inicia Sesión</h2>
        <div class="form-sections-styles">
          <div>
            <label for="">Ingresa tu Correo</label>
            <input type="text" id="email" name="email" placeholder="Tu Correo..." required>
          </div>

          <div>
            <label for="">Ingresa tu Contraseña</label>
            <input type="password" id="password" name="contrasenia" placeholder="Tu Contraseña..." required>
          </div>
        </div>

        <div class="div-submit">
          <input class="submitRegistrar" type="submit" value="Iniciar Sesión">
        </div>

      </div>
    </form>
  </div>



  <script src="./js/scriptHome.js"></script>
</body>

</html>