<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://kit.fontawesome.com/b2a572fab6.js" crossorigin="anonymous"></script>
  <title>Home</title>
</head>

<body>

  <div class="slider" id="slider">
    <div class="content">
      <!-- Contenido del slide -->
      <p>Arrastra hacia arriba para ver los botones</p>
    </div>
  </div>
  <div class="buttons" id="buttons" style="display: none;">
    <button id="adminButton">Usuario Administrador</button>
    <button id="colabButton">Usuario Colaborador</button>
  </div>
  
  <script src="./js/scriptHome.js"></script>
</body>

</html>