<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesLoginAdmin.css">
  <title>Ingreso Colaborador</title>
</head>
<body>
  <form class="loginAdmin">
    <div class="container">
      <h2>Inicia Sesión</h2>
      <div class="form-sections-styles">
        <div>
          <label for="">Ingresa tu Correo</label>
          <input type="text" id="contacto" placeholder="Tu Correo..." required>
          <!--<input type="email" id="contacto" placeholder="Tu Correo...">-->
        </div>

        <div>
          <label for="">Ingresa tu Código del Proyecto</label>
          <input type="password" id="password" placeholder="Tu Código de Proyecto..." required>
        </div>
      </div>

      <div class="div-submit">
        <input class="submitRegistrar" type="submit" value="Iniciar Sesión">
      </div>

      <div class="count-exist-styles">
        <div>
          <p>¿Eres usuario administrador de proyectos?</p>
        </div>
        <div class="iniciar-sesion-styles">
          <a href="./loginAdmin.html">Iniciar Administrador</a>
        </div>
      </div>
    </div>
    </div>
  </form>
</body>
</html>