<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesLoginAdmin.css">
  <title>Ingreso Administrador</title>
</head>

<body>
  <form class="loginAdmin">
    <div class="container">
      <h2>Inicia Sesión</h2>
      <div class="form-sections-styles">
        <div>
          <label for="">Ingresa tu Correo</label>
          <input type="text" id="contacto" placeholder="Tu Correo..." required>
          <!--<input type="email" id="contacto" placeholder="Tu Correo...">-->
        </div>

        <div>
          <label for="">Ingresa tu Contraseña</label>
          <input type="password" id="password" placeholder="Tu Contraseña..." required>
        </div>
      </div>

      <div class="div-submit">
        <input class="submitRegistrar" type="submit" value="Iniciar Sesión">
      </div>

      <div class="count-exist-styles">
        <div>
          <p>¿Eres usuario colaborador?</p>
        </div>
        <div class="iniciar-sesion-styles">
          <a href="./loginColaborador.html">Iniciar Colaborador</a>
        </div>
      </div>
    </div>
  </form>


</body>

</html>