/*Globales*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$Color_1: #2F3D59;
$Color_2: #BFBAB0;
$Color_3: #D9D6D0;
$Color_4: #BF843B;
$Color_5: #594A3E;
$darkColor: #000000;
$whiteColor: #ffffff;
$grayColor: #48494b;
$blackMenu: #282929;
$greeColor: #1faca2;
$yellowColor: #ebd96b;
$redColor: #db4444;
$typographyPoppins: 'Poppins', 'Arial Narrow Bold', sans-serif;
$typographyInter: 'Inter', 'Arial Narrow Bold', sans-serif;
$typographyRoboto: 'Roboto', 'Arial Narrow Bold', sans-serif;
$typographyPlayfairDisplay: 'Playfair+Display', 'Arial Narrow Bold', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: $Color_3;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Ajusta el espacio entre los elementos */
  align-items: center; /* Centra verticalmente los elementos */
  
  .main-title{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    margin: 20px 20px 20px 75px;
    padding: 20px 20px 20px 20px;
    font-family: $typographyPoppins;
    font-size: 1em;
    color: $Color_1;
  }
  
  .link-section{
    font-size: 1.1em;
    
    font-family: $typographyPoppins;
    nav{
      a{
        padding: 0 50px;
        text-decoration: none;
        color: $Color_1;
      }
    }
  }

  .profile {
    a{
      cursor: pointer;
      border: none;
      text-decoration: none;
      background-color: $Color_2;
      padding: 20px;
      border-radius: 25%;
    }
    padding: 20px 70px;
  }
}

main{
  h2{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    padding: 20px 20px 20px 20px;
    font-family: $typographyPoppins;
    font-size: 1.5em;
    color: $grayColor;
  }
  margin: 20px 20px 20px 75px;
}

/* Estilos CSS */
/* ... (código previo) */

.progress-bar {
  background-color: #3498db;
  height: 20px;
  border-radius: 3px;
  color: white;
  text-align: center;
  transition: width 0.5s ease-in-out; /* Transición suave de la anchura */
}

/* Estilos para la animación */
.progress-animation {
  animation: fillProgress 2s forwards; /* Animación para llenar la barra */
}

@keyframes fillProgress {
  from {
    width: 0; /* La animación comienza con una anchura de 0 */
  }
  to {
    /* La animación termina con la anchura deseada */
    /* En este caso, se usa el valor que se establece en el JavaScript */
  }
}
