.kanban-board {
  display: flex;
}

.column {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 10px;
  padding: 10px;
  background-color: #f9f9f9;
}

.column-header {
  font-weight: bold;
  margin-bottom: 5px;
}

.task {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

/* Estilos generales para el header y el footer */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

.collaborators {
  text-align: left;
  margin-top: 20px;
  padding: 10px;
}

.collaborators h2 {
  margin-bottom: 10px;
}

/* Estilos para el título del tablero Kanban centrado */
.kanban-title {
  text-align: center;
  margin-bottom: 20px;
}

.kanban-title h2 {
  font-size: 24px;
  margin: 0;
  color: #333;
  text-align: center; /* Añadido para centrar horizontalmente */
}

/* Estilos para el submenú del tablero Kanban */
.kanban-sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  position: fixed;
  top: 70px; /* Espacio para la barra de navegación superior */
  left: 0;
  height: calc(100% - 70px); /* Resta el espacio de la barra de navegación superior */
  overflow-y: auto;
  z-index: 99; /* Asegura que esté detrás del menú lateral principal */
}

.kanban-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.kanban-sidebar ul li {
  margin-bottom: 10px;
}

.kanban-sidebar ul li a {
  text-decoration: none;
  color: #333;
  display: block;
}

/* Estilos para el tablero Kanban */
.kanban-board {
  margin-left: 220px; /* Ancho del submenú más un margen adicional */
  padding: 20px;
  padding-top: 90px; /* Espacio para la barra de navegación y el título del Kanban */
}

/* Estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Estilos para el submenú del tablero Kanban */
.kanban-sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  flex-shrink: 0; /* No permite que el submenú se reduzca */
  z-index: 99;
}

.kanban-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.kanban-sidebar ul li {
  margin-bottom: 10px;
}

.kanban-sidebar ul li a {
  text-decoration: none;
  color: #333;
  display: block;
}

/* Estilos para el contenido del tablero Kanban */
.kanban-content {
  flex-grow: 1; /* Ocupa el espacio restante */
  padding: 20px;
  padding-bottom: 50px; /* Espacio para el footer */
}

/* Estilos para el footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

