@charset "UTF-8";
/*Globales*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #D9D6D0;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Ajusta el espacio entre los elementos */
  align-items: center; /* Centra verticalmente los elementos */
}
header .main-title {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  margin: 20px 20px 20px 75px;
  padding: 20px 20px 20px 20px;
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  font-size: 1em;
  color: #2F3D59;
}
header .link-section {
  font-size: 1.1em;
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
}
header .link-section nav a {
  padding: 0 50px;
  text-decoration: none;
  color: #2F3D59;
}
header .profile {
  margin: 20px 90px;
  padding: 10px 15px;
  background-color: #BFBAB0;
  border-radius: 10px;
}
header .profile a {
  cursor: pointer;
  border: none;
  text-decoration: none;
}

main {
  margin: 20px 90px;
}
main .container h2 {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  font-size: 1.5em;
  color: #48494b;
}
main button {
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  background-color: #2F3D59;
}

.task-form .modal_container {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
.task-form .modal__conten {
  width: 350px;
  max-width: 500px;
  height: 250px;
  padding: 5px 15px 25px 15px;
  position: absolute;
  border-radius: 10px;
  color: #fafbfd;
  font-family: "Merriweather", serif;
  box-sizing: border-box;
  background-color: #2F3D59;
  display: block;
  letter-spacing: 1px;
  z-index: 2;
}
.task-form .modal__closed {
  position: absolute;
  top: 25px;
  right: 25px;
  background: none;
  border: none;
  outline: none;
  color: #f2f2f2;
  font-size: 25px;
  cursor: pointer;
}

/* Estilos CSS */
/* ... (código previo) */
.progress-bar {
  background-color: #3498db;
  height: 20px;
  border-radius: 3px;
  color: white;
  text-align: center;
  transition: width 0.5s ease-in-out; /* Transición suave de la anchura */
}

/* Estilos para la animación */
.progress-animation {
  animation: fillProgress 2s forwards; /* Animación para llenar la barra */
}

@keyframes fillProgress {
  from {
    width: 0; /* La animación comienza con una anchura de 0 */
  }
  to {
    /* La animación termina con la anchura deseada */
    /* En este caso, se usa el valor que se establece en el JavaScript */
  }
}/*# sourceMappingURL=styles.css.map */