<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/stylesProjects.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://kit.fontawesome.com/b2a572fab6.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/cesiumjs/1.78/Build/Cesium/Cesium.js"></script>
  <title>ACOProyectos</title>
</head>

<body>

  <header>
      <div class="content">
        <div class="title-text">
          <p class="aco">ACO</p>
          <p class="projects">Proyectos</p>
        </div>
      </div>
    </a>

    <div class="link-section">
      <nav>
        <a href="adminTypeOfProjects.html">Home</a></li>
        <a href="adminProjects.html">Mis Proyectos</a></li>
      </nav>
    </div>

    <div class="profile">
      <p>Username</p>
      <a href="#">
        <i class="fas fa-user fa-2x" style="color: #2F3D59;"></i>
      </a>
    </div>
  </header>

  <main>
    <div class="container">

      <h2>Tareas Del Projecto</h2>
      <br><br>
      <div class="task-list" id="taskList">
        <!-- Aquí se agregarán las tarjetas de tarea -->
      </div>

      <br><br>
    </div>

  </main>

  <div class="task-form" id="task-form"></div>

  <script src="./js/script.js"></script>

</body>

</html>